@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    :root {
      --color-primary: 16 24 39;
      --color-text: 33 33 33;
      --color-light: 245 245 245;
      --color-success: 0 200 81;
      --color-info: 51 181 229;
      --color-warn: 255 187 51;
      --color-error: 254 78 78;
    }
  
    :root[className="dark"] {
      --color-primary: 16 24 39;
      --color-text: 33 33 33;
      --color-light: 245 245 245;
      --color-success: 0 200 81;
      --color-info: 51 181 229;
      --color-warn: 255 187 51;
      --color-error: 254 78 78;
    }
  }

.sidebar-btn-actv {
    @apply flex text-white font-normal items-center 
    rounded-lg cursor-pointer p-2
    hover:scale-[0.99] active:scale-[0.97]
    ml-3 h-8 w-[220px] shadow-lg 
    shadow-black/50 bg-white/5
    hover:text-cyan-400
}

.sidebar-btn {
    @apply flex text-white font-normal items-center 
    rounded-lg cursor-pointer p-2 
    hover:scale-[0.99] active:scale-[0.97]
    ml-3 h-8 w-[220px]
    /*hover:shadow-lg 
    hover:shadow-black/50 hover:bg-white/5*/
    hover:text-cyan-400
    transition duration-300 ease-in-out
}

.sidebar-div-actv {
    @apply border-l-[2.5px] border-cyan-400 h-8 w-[200px]
}

.sidebar-div {
    @apply h-8 w-[200px] 
    hover:border-l-[2.5px] hover:border-cyan-400
    transition duration-300 ease-in-out
}